<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>React App</title>
  </head>

  <body>
   <form method="POST" action="/someIDhere?_method=PUT">
       <p>EDIT feedback here</p>
       <button>save</button>
   </form>

  </body>

</html>
