<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
        <% for(let i = 0; i < feedbacks.length; i++) { %>
         <li> <a href=<%=feedbacks[i]._id%> > <%=feedbacks[i].title%>  </a>  </li>
        <% } %>
    </ul>


  </body>
</html>
