<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>React App</title>
  </head>

  <body>
   <form method="post" action="/">
      <label for="title">title</label>
      <input type="text" name="title" id="title"/>   

      <label for="category">category</label>
      <select name="category" id="category">
        <option value="enhancement">enhancement</option>
        <option value="feature">feature</option>
        <option value="bug">bug</option>
        <option value="UI">UI</option>
        <option value="UX">UX</option>
      </select>

        <label for="description">description</label>
        <textarea name="description" id="description"></textarea>
      
      <br />
      <button>create</button>
   </form>

  </body>

</html>
